/* api key display box */
.key-display {
  position: fixed;
  top: 30px;
  left: 30px;
  width: calc(100vw - 250px - 60px);
  height: calc(100vh - 55px - 60px);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 250px;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

/* key display header */
.key-display-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.key-display h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

/* api key instructions box */
.instruction-box {
  background-color: #f2efe7;
  color: #41644a;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  max-height: calc(100vh - 55px - 60px - 40px);
  display: inline-block;
}

.instruction-box p {
  margin-bottom: 5px;
}

.instruction-box ul {
  padding-left: 20px;
  margin-bottom: 5px;
}

.instruction-box ul li {
  margin-bottom: 5px;
}

.instruction-box strong {
  color: red;
}

/* api key management display */
.key-box {
  background-color: #134b70;
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.key-box .btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #67ae6e;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.key-box .btn:hover {
  background-color: #328e6e;
}

.key-box .btn:disabled {
  background-color: #f2efe7;
  color: black;
  cursor: not-allowed;
}

/* generated api key display */
.generated-api-keys {
  margin-top: 30px;
  padding: 10px;
}

.generated-api-keys ul {
  list-style-type: none;
  padding-left: 0;
}

.generated-api-keys li {
  margin-top: 10px;
  color: black;
}

.api-key-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.api-key-field {
  flex-grow: 1;
  padding: 8px;
  background-color: #f2efe7;
  border-radius: 5px;
  word-wrap: break-word;
}

.api-key-expiry {
  background-color: #f8f2de;
  font-weight: bold;
  color: #a31d1d;
  padding: 8px;
  border-radius: 5px;
  white-space: nowrap;
}

/* api key display buttons */
.revoke-btn {
  background-color: #d84040;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  width: auto;
  height: 40px;
}

.revoke-btn:hover {
  background-color: #b23131;
}

.copy-btn {
  background-color: #e9c46a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  padding-left: 12px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #d4aa3f;
}

.btn-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* no key message */
.no-api-keys-msg {
  margin-top: 45px;
  color: white;
  font-style: italic;
  font-size: 16px;
  align-self: flex-start;
}
