/* profile display box */
.profile-display {
  position: fixed;
  top: 30px;
  left: 30px;
  width: calc(100vw - 250px - 60px);
  height: calc(100vh - 55px - 60px);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 250px;
}

.country-display-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* box separator */
.profile-separator {
  display: flex;
  width: 100%;
  margin-top: 20px;
  height: 100%;
}

/* profile boxes */
.profile-left,
.profile-right {
  flex: 1;
  padding: 20px;
  text-align: center;
  height: 100%;
  border-radius: 15px;
}

.profile-left {
  border-right: 1px solid #ddd;
  background-color: #f0f0f0;
}

.profile-right {
  background-color: #e0e0e0;
}

/* profile header */
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-header h3 {
  margin: 0;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.edit-icon {
  width: 27px;
  height: 27px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.edit-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* personal details */
.personal-table {
  width: 100%;
  border-collapse: collapse;
}

.personal-table td {
  padding: 5px 30px;
  text-align: left;
  vertical-align: middle;
}

.personal-table td:first-child {
  font-weight: bold;
  color: #333;
}

.personal-table td:last-child {
  text-align: right;
  color: #555;
}
